<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luyisac.novel_zjx.mapper.CategoryMapper">

    <select id="getCategory" resultType="com.luyisac.novel_zjx.entity.Category">
        select * from category
    </select>

</mapper>