<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luyisac.novel_zjx.mapper.ChapterMapper">

    <select id="getAllChapters" resultType="com.luyisac.novel_zjx.entity.Chapter">
        select * from chapter where id=#{bookId} order by chapter_id
    </select>

    <insert id="updateChapter" parameterType="com.luyisac.novel_zjx.entity.Chapter">
        insert  into chapter(id,id,chapter_name,content,chapter_id,content_num,create_time) values(null,#{novelId},#{chapterName},#{content},#{chapterId},#{contentNum},#{createTime})
    </insert>

    <delete id="deleteChapter">

    </delete>

    <select id="getContentByCId" resultType="com.luyisac.novel_zjx.entity.Chapter">
        select * from chapter where id=#{booId} and chapter_id=#{chapterId}
    </select>

    <select id="getContent" resultType="com.luyisac.novel_zjx.entity.Chapter">
        select * from chapter where id=#{booId}
    </select>
</mapper>